#root {

  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
    border-left: lightgrey solid 5 px;
    font-family: sans-serif;

}

p::first-letter {
    color: lightgray;
    font-size: 500%
}

Header{
  padding: 1rem;
}

h1{
  color: tomato;
}
.Footer>nav>a{
  color: tomato;
  padding: 3%;
  list-style-type: none;

}

.Header{
  padding: 1rem;
}

.Header>a{
  color: lightgray;
  padding: 4%;
  list-style-type: none;
 
  
}